.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;

}

.images-wrapper {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-none {
    opacity: 0;
}

.button-container {
    top: 410px;
    left: 0;
    position: relative;

}

