body {
    background-image:url("../img/background.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.container {
    font-family: Verdana, sans-serif;
    width: 1064px;
    margin: 0 auto;
}
.header {
    text-decoration: none;
    margin-top: 49px;
}
.header-link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
}
.header-link:hover {
    color: #f26522;
}
.header-img {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 46px;
    height: 44px;
}
.header-link:hover .header-img {
    background-image: url("../img/logo2.png");
}
.header-block {
    display: inline-block;
    margin-left: 10px;
}
.header-link p {
    font-size: 29px;
}
.header-link span {
    font-size: 18px;
}
.header-contact {
    float: right;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    display: inline-block;
    margin-top: 6px;
}
.header-contact a {
    text-decoration: none;
    color: #ffffff;
}
.text-info {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.block-one {
    width: 307px;
    display: inline-block;
    margin-top: 48px;
    float: left;
    margin-right: 68px;

}
.block-one-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;

}
.border-img {
    box-sizing: border-box;
    width: 311px;
    height: 204px;
    background-image: linear-gradient(#ffffff 20%, #000000);
    position: relative;
    overflow: hidden;
}
.orange-link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.text-price {
    font-size: 10px;
    margin-top: 16px;
}
.price {
    display: inline-block;
    font-size: 20px;
}
.popup {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -63px;
    background-color: #f26522;
    width: 100%;
    height: 63px;
    transition: all 800ms;
}
.block-one:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.orange-link-text::after {
   content: "\00A0\00A0\00A0\00A0\003E"
}
.detailsText {
    margin: 20px;
}
.block-one:hover .text-info {
      color: #f26522;
  }
.block-too {
    width: 307px;
    display: inline-block;
    margin-top: 48px;
    margin-right: 68px;
}
.block-too-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}
.block-too:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.block-too:hover .text-info {
    color: #f26522;
}
.block-three {
    width: 307px;
    display: inline-block;
    margin-top: 48px;
    float: right;
}
.block-three-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}
.block-three:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.block-three:hover .text-info {
    color: #f26522;
}
.block-four {
    width: 307px;
    display: inline-block;
    margin-top: 58px;
    margin-right: 68px;
}
.block-four-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}
.block-four:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.block-four:hover .text-info {
    color: #f26522;
}
.block-five {
    width: 307px;
    display: inline-block;
    margin-top: 58px;
    margin-right: 68px;
}
.block-five-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}
.block-five:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.block-five:hover .text-info {
    color: #f26522;
}
.block-six {
    width: 307px;
    display: inline-block;
    margin-top: 58px;
    float: right;
}
.block-six-img {
    width: 307px;
    height: 200px;
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}
.block-six:hover .popup {
    bottom: 0;
    transition: all 800ms;
}
.block-six:hover .text-info {
    color: #f26522;
}
footer {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 61px;
}