* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arimo, sans-serif
}

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../font/arimo-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../font/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/arimo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/arimo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/arimo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/arimo-v11-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */}

table {
    border-collapse: collapse;
    border-width: 30px 30px 22px 27px;
    border-style: solid;
    border-color: #414b64;
    width: 1192px;
    height: 736px;
    margin: 0 auto;
}

td {
    width: 158px;
    height: 165px;
}

.first-tr td {
    height: 110px;
}

tr td:first-child {
    width: 198px;
}

tr td:nth-child(2n) {
    color: #848484;
    background: #e2e2e2;
}

tr td:nth-child(2n+3) {
    color: #848484;
    background: #f2f2f2;
}

.tr__second {
    background-color:#89c331;
    padding-bottom: 0;
}

.tr__third {
    background-color:#f04a56;
}

.tr__fourth {
    background-color:#20807c;
}

tr td {
    box-shadow: 0 -3px 4px -1.5px #cacaca;
}

.but {
    background-color:#414141;
    width: 145px;
    height: 40px;
    color:#fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 24px auto 18px;
    border-bottom: 5px solid #343434;
    transition: 0.6s;
}

.but:hover {
    background-color: #29ECFA;
    color:#414141;
    border-bottom: 5px solid #1F9FA8;
    font-weight: 700;
}

.first-tr td  i {
    font-size: 26px;
    margin-bottom: 10px;
}

.first-tr td  p {
    color: #484848;
}

.first-tr td  b {
    color: #484848;
}

table tr td b {
    font-size: 18px;
    color: #fff;
}

table tr td span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

table tr td p {
    color: #fff;
}
strong {
    font-size: 36px;
    color: #fff;
}
