body {
    font-family:  'Open Sans', sans-serif;
}
.container {
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar {
    background-color: #1d2124;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 69px;
    height: 70px;
    background-color: #191d20;
    display: flex;
    justify-content: center;
}
.image {
    width: 27px;
    height: 27px;
    align-self: center;
}
.search {
    width: 69px;
    height: 70px;
    background-color: #16191c;
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.search-link {
    color: white;
    width: 17px;
    height: 17px;
    align-self: center;
}
.text {
    color: white;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    margin-right: auto;
}
.nav-bar-item2 {
    margin-left: 37px;
    margin-right: 37px;
}
.nav-bar-item4 {
    margin-left: 37px;
    margin-right: 37px;
}
.nav-bar-item6 {
    margin-left: 37px;
}
.item1 {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.heading {
    display: flex;
    justify-content: center;
}
.heading-text {
    margin-top: 127px;
    color: white;
    font-size: 27px;
    text-transform: uppercase;
}
.heading-button {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.heading-button-item1 {
    width: 170px;
    height: 55px;
    background-color: #8acb62;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 127px;
}
.heading-button-item2 {
    width: 170px;
    height: 55px;
    background-color: #0cbbd6;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_title {
    background-color: #f2f3f3;
    margin: 0 auto;
}
.heading-posts {
    display: flex;
    justify-content: center;
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 60px;
}
.post-items {
    max-height: 1030px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.img-item_1 {
    width: 370px;
    height: 320px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 52px 30px 30px 0;
    order: 1;
}
.img-text {
    height: 100vw;
    display: flex;
    justify-content: center;
}
.img-text a {
    color: #35393d;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    align-self: center;
}
.img-item_2 {
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 52px 30px 30px 0;
    order: 3;
}
.img-item_3 {
    width: 370px;
    height: 355px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 52px 30px 30px 0;
    order: 5;
}
.img-item_4 {
    width: 370px;
    height: 321px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 0 30px 30px 0;
    order: 2;
}
.img-item_5 {
    width: 370px;
    height: 309px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 0 30px 30px 0;
    order: 4;
}
.img-item_6 {
    width: 370px;
    height: 441px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    margin: 0 30px 30px 0;
    order: 6;
}
.article_container {
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading-clients {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}
.heading-clients-logo {
    position: relative;
}
.heading-clients-logo:before {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 3px;
    background-color:  #169cb4;
}
.heading-clients-text {
    margin-top: 200px;
    font-size: 43px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.heading-clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-clients-logo-item {
    margin-right: 76px;
    margin-top: 60px;
    margin-bottom: 147px;
}
.heading-top-rated {
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    margin-top: 63px;
    margin-bottom: 52px;
}
.heading-top-rated-img {
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.heading-top-rated-item {
}
.image_top{
    width: 100%;
}
.hot_news_container {
    display: grid;
    grid-template-rows: 150px auto;
    justify-items: center;
}
.heading-hot-news-text {
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 51px;
}
.news-box {
    width: 1170px;
    display: grid;
    justify-content: space-between;
    grid-gap: 40px 35px;
    grid-template-rows: auto 1fr 1fr auto ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "news-box-item1 news-box-item1 news-box-item1 news-box-item2"
    "news-box-item3 news-box-item3 news-box-item4 news-box-item4"
    "news-box-item5 news-box-item5 news-box-item6 news-box-item6"
    "news-box-item7 news-box-item8 news-box-item8 news-box-item8";
}
.news-box-item1 {
    grid-area: news-box-item1;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
.post1 {
    background-color: #f9f7f7 ;
}
.image_news_box {
    width: 100%;
}
.post1-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
}
.post1-text {
    display: grid;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-left: 5%;
    padding-right: 10%;
    line-height: 1.5;
}
.news-box-item2 {
    grid-area: news-box-item2;
    display: grid;
    height: 210px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.post2-header {
    display: grid;
    justify-content: center;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding: 15px 32px;
    background-color: #f9f7f7;
}
.news-box-item3 {
    grid-area: news-box-item3;
}
.post3 {
    background-color: #f9f7f7;
}
.post3-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.post3-text {
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.news-box-item4 {
    grid-area: news-box-item4;
}
.post4 {
    background-color: #f9f7f7;
}
.post4-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.post4-text {
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.news-box-item5 {
    grid-area: news-box-item5;
}
.post5 {
    background-color: #f9f7f7;
}
.post5-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.post5-text {
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.news-box-item6 {
    grid-area: news-box-item6;
}
.post6 {
    background-color: #f9f7f7;
}
.post6-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.post6-text {
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.news-box-item7 {
    grid-area: news-box-item7;
    display: grid;
    height: 210px;
}
.post7-header {
    display: grid;
    justify-content: center;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding: 15px 40px;
    background-color: #f9f7f7;
}
.news-box-item8 {
    grid-area: news-box-item8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.post8 {
    background-color: #f9f7f7 ;
}
.post8-header {
    display: grid;
    justify-content: end;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
}
.post8-text {
    display: grid;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    padding-left: 5%;
    padding-right: 10%;
    line-height: 1.5;
}
.footer_section {
    background-color: #1d2124;
    height: 70px;
    margin-top: 70px;
    display: grid;
    justify-content: center;
}
.footer_items {
    width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.footer_logo {
    display: grid;
    justify-content: end;
    grid-template-columns: 38px 64px;
    align-self: center;
}
.footer_text {
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    align-self: center;
}