.price {
    outline: none;
}

.input-border {
    border: 2px solid green;
}

.currPrice {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
    padding: 2px;
}

.d-none {
    display: none;
}

.errorInput {
    border: 1px solid red;
}

.valueInput {
    color: green;
}

.btnStyle {
    margin-left: 13px;
    text-decoration:none;
    text-align:center;
    padding:5px 7px;
    border:none;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 50px;
    font:8px Arial, Helvetica, sans-serif;
    font-weight:bold;

}