body {
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.section {
    font-family: 'Myriad Pro Regular', sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.logo-link {
    text-decoration: none;
}

.logo-one-text {
    color:  #000000;
    font-size: 80px;
    margin: 61px 0 45px 0;
}

.logo-too-text {
    color:  #4bcaff;
    font-size: 80px;
}
header {
     background-color:  #35444f;
     height: 69px;
}

.menu {
     padding: 0 0 0 200px;
}

.menu-item {
    color:  #ffffff;
    font-size: 24px;
    display: inline-block;
    padding: 20px 41px 20px 41px;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
}

.menu-item:hover {
    background: #222f3a;
    border-color: #818181;
}

.menu-link {
    text-decoration: none;
    color:  #ffffff;
    text-align: center;
}

.block-content {
    padding-top: 51px;
}

.box-left {
    width: 344px;
    border: 1px solid black;
    float: left;
}

.box-left-menu {
    font-size: 27px;
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
}

.box-left-link {
    color:  #495863;
    text-decoration: none;
}

.box-left-link:hover {
    color: #000000;
    padding: 35px;

}

.box-left-item {
    padding: 30px 0 30px 44px;
}

.box-left-item:hover {
    background: #dcdcdc;
}

.box-right {
    float: right;
    padding-bottom: 51px;

}

.block {
    position: relative;
    width: 885px;
    height: 529px;
    border: 1px solid black;
}

.img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 381px;
    overflow: hidden;
}

.block-img {
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
}

.block-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.context {
    width: 885px;
    float: right;
    font-size: 18px;
}

.context-ru {
    width: 820px;
    margin-top: 50px;
    margin-left: 33px;

}

.context-eng {
    width: 820px;
    margin-top: 30px;
    margin-left: 33px;
}

footer {
    font-family: 'Myriad Pro Regular', sans-serif;
    background-color: #b5b8bb;
    height: 69px;
    clear:both;
}
.menu-footer {
    padding-inline-start: 0;
    padding-left: 44px;
}

.footer-item {
    display: inline-block;
    padding: 21px 4px 0 4px;
}

.footer-link {
    text-decoration: none;
    color:  #000000;
    font-size: 28px;
    float: left;
}

.footer-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer-copy {
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    padding: 20px 34px 20px 0;
}
