body {
    background-image: url("../img/backgraund-img.png");
    background-repeat:no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;
}
header {
    background: rgba(0, 0, 0, 0.5);
    height: 54px;
}
.header-container {
    width: 1366px;
    margin: 0 auto;
}
.logo {
    font-family: Verdana, sans-serif;
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-left: 80px;
    padding-top: 18px;
    text-decoration: none;
    color: #ffffff;
}
.login {
    text-decoration: none;
}
.login,.SignUp {
    color:#3cb878;
    transition: 0.5s;
}
.logo:hover {
    color:#3cb878;
}
.login:hover {
    text-decoration: underline;
}
nav {
    float: right;
}
.nav-ic{
   padding-top: 18px;
    display: inline-block;
}
.bg-ic_calendar {
    margin-right: 28px;
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -106px -49px;
}
.bg-ic_calendar:hover {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -106px -10px;
}
.bg-ic_forum {
    margin-right: 28px;
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
}
.bg-ic_forum:hover {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.bg-ic_journey {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -50px -50px;
}
.bg-ic_journey:hover {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -50px;
}
.border-line {
    height: 19px;
    border:1px solid #302e2c;
    display: inline-block;
    margin-right: 25px;
}
nav a, p {
    display: inline-block;
    color:#ffffff;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    font-style: normal;
}
.login-block {
    display: inline-block;
    margin-right: 75px;
}
.form {
    border-radius: 10px;
    width: 445px;
    height: 600px;
    background-color: #ffffff;
    margin: 10vh auto 10vh;
}
.Head-form-login {
}
.Green_kub {
    background: #3cb878;
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 0;
    display: inline-block;
}
.but1,.but2 {
    width: 157px;
    height: 46px;
    border: 0;
    border-radius: 3px;
    color:#ffffff;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}
.but1 {
    box-sizing: border-box;
    background: #305db8;
    margin-right: 5px;
}
.but2 {
    background: #df4a32;
}
.but1:hover {
    background:#264b96;
}
.but2:hover {
    background:#c3412c;
}
.but1 div, .but2 div {
    display: inline-block;
}
.Head-form-login p {
    color: black;
    font-size: 20px;
}
.SignUp,.form_login2 {
    display: inline-block;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}
.form_login2 {
    font-size: 14px;
    color:#3cb878;
    margin-right: 20px;
    text-decoration: none;
}
.form_login2:hover {
    text-decoration: underline;
}
.SignUp {
    padding: 25px 190px 20px 0;
    color: black;
}
button P {
    font-size: 22px;
    font-weight: 600;
    padding-top: 10px;
}
.but-border1 {
    border-left: 2px solid #2b54a5;
    padding-top: 5px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.but-border2  {
    border-left: 2px solid #c8422d;
    padding-top: 5px;
    position: relative;
    bottom: 5px;
    left: 10px;
}
.line-or {
    margin: 20px 0 20px 0;
}
.line-or hr {
    display: inline-block;
    border: 0.7px solid #eaeaea;
    width: 130px;
    margin-top: 37px;
}
.line-or p {
    display: inline-block;
    position: relative;
    color: #848484;
    top: -5px;
    margin-right: 20px;
    margin-left: 20px;
}
input {
    border: 1px solid #e2e2e2;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 320px;
    height: 45px;
    cursor: pointer;
    opacity: 0.6;
    color: #bebebe;
}
.input_check {
    display: inline-block;
    width: 20px;
    height: 18px;
    font-size: 10px;
    color:#e2e2e2;
}
label p {
    margin: 20px 100px 30px 10px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: #000;
    position: relative;
    top:-5px;
    cursor: pointer;
}
label span {
    color:#3cb878;
}
label:hover span {
    text-decoration: underline;
}
.input_check:hover span {
    text-decoration: underline;
}
.Form-focus:focus {
    outline: 0.5px solid #ffffff;
    box-shadow: 0 4px 6px 2px #c5c0c0;
    color: #000000;
}
.ps_checkbox   {
    background: #ffffff;
    color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    position: relative;
    left: 51px;
    bottom: 54px;
    z-index: +1;
    margin: 0;
}
.input_check:checked~.ps_checkbox {
    color: aquamarine;
}
.form_input-green {
    background-color: #3cb878;
    position: relative;
    bottom: 35px;
    font-size: 16px;
    color:#ffffff;
    opacity: 1;
    width: 340px;
    height: 50px;
}
.form_input-green:hover {
    background-color: #329a65
}
