.container {
    width: 1280px;
    margin: 0 auto;
}
.main-menu{
    padding: 41px 0;
    text-align: center;
}
.main-menu-item {
    font-size: 20px;
    margin-right: 65px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: #16a085;
}
.main-menu-item:last-child {
    margin-right: 0;
}
.main-menu-link {
    color: #16a085;
    text-decoration: none;
    font-weight: 900;
}
.content-img {
    width: 100%;
}
.content {
    background: #f5f6f7;
    border: 1px solid transparent;
    padding: 50px 113px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.content-header {
    background: #f5f6f7;
    font-size: 22px;
    font-weight: 900;
}
.content-text {
    font-weight: 900;
    border-color: #f5f6f7;
    line-height: 1.5;
}
.button-get {
    display: inline-block;
    margin-top: 40px;
    border-radius: 5px;
    background-color:  #16a085;
    padding: 18px 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.footer {
    font-weight: 900;
    text-align: right;
}
.footer-text {
    padding: 20px 113px;
}